button {
    box-shadow: 0 8px 16px 0 rgba(238, 92, 92, 0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
margin: 2px;
  }
  

button.danger{
  background-color: red;

}

button.success{

  background-color: green;
}
  
.red{
  color: red;
  text-decoration: underline;
}

.size40{
  font-size: 40px;
}